@page "/food"

<h1>Our delicious menu</h1>
<p>We have a wide range cuisines!</p>

<div style="margin: 1rem;">
    <NavLink class="button" href="/" ><span class="oi oi-arrow-thick-left" aria-hidden="true"></span></NavLink>
</div>

<div class="card-wrapper">
    <div class="food-card">
        <img src="burger.jpg" alt="Burger" style="width:100%">
        <div class="food-card-content">
            <h4><b>Jane Doe</b></h4> 
            <p>Interior Designer</p> 
        </div>
    </div>
    <div class="food-card">
        <img src="burger.jpg" alt="Burger" style="width:100%">
        <div class="food-card-content">
            <h4><b>Jane Doe</b></h4> 
            <p>Interior Designer</p> 
        </div>
    </div>
    <div class="food-card">
        <img src="burger.jpg" alt="Burger" style="width:100%">
        <div class="food-card-content">
            <h4><b>Jane Doe</b></h4> 
            <p>Interior Designer</p> 
        </div>
    </div>
    <div class="food-card">
        <img src="burger.jpg" alt="Burger" style="width:100%">
        <div class="food-card-content">
            <h4><b>Jane Doe</b></h4> 
            <p>Interior Designer</p> 
        </div>
    </div>

</div>

@code {
    
}