@page "/"

<h1>Welcome to Happy Restaurant!</h1>

<div class="row">

    <div class="card" style="width: 18rem; padding: 1rem; margin: 0.5rem">
        <div class="card-body">
            <h5 class="card-title">Order food and drinks</h5>
            <p class="card-text">Choose from our amazing menu!</p>
            <NavLink class="btn btn-primary" href="/food">Do It!</NavLink>
        </div>
    </div>

    <div class="card" style="width: 18rem; padding: 1rem; margin: 0.5rem">
        <div class="card-body">
            <h5 class="card-title">Show indor map</h5>
            <p class="card-text">Are you lost? Look where you are in our restaurant.</p>
            <NavLink class="btn btn-primary" href="/map">Show</NavLink>
        </div>
    </div>

    <div class="card" style="width: 18rem; padding: 1rem; margin: 0.5rem">
        <div class="card-body">
            <h5 class="card-title">Need Help?</h5>
            <p class="card-text">Our super friendly staff is happy to help you with any request.</p>
            <a href="#" class="btn btn-primary">Call help</a>
        </div>
    </div>
</div>
