@page "/map"

<h1>Our restaurant map</h1>
<div class="map">
    <NavLink class="button" href="/" ><span class="oi oi-arrow-thick-left" aria-hidden="true"></span></NavLink>
    <img src="map.png" alt="Restaurant Map">
</div>